body {
    background: url(../image/fond-ecran-chauffeur.jpg);
    color: var(--text-color);
}

:root{
    --bg-color: #FFF;
    --text-color: #221314;
    --second-color: #6e54fa;
    --big-font: 3rem;
    --h2-font:  2.5rem;
    --p-font: 1.1rem;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 2000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 16%;
    transition: ease .40s;
}

header.sticky {

    background: var(--bg-color);
    padding: 10px 14%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sticky nav ul li a, .sticky .logo, .sticky #user-icon {

    color: var(--text-color);
}

.logo{

    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;
    color:  var(--bg-color);
}

nav ul {

    display: flex;
    align-items: center;
}
nav ul li a{
    color: var(--bg-color);
    font-size: var(--p-font);
    font-weight: 500;
    padding: 10px 22px;
    border-radius: 4px;
    transition: ease .40s;
    margin-left: 2px;
}

.menu_hover:hover{

     background: var(--bg-color);
     color: var(--text-color);
     box-shadow: 5px 10px 30px rgb(85 85 85 /20%);
     border-radius: 4px;
}

#user-icon{

    color: var(--bg-color);
    font-size: 35px;
    z-index: 1001;
    cursor: pointer;
    padding: 5px;
    transition: ease .40s;
}
#user-icon:hover {

    background: var(--bg-color);
    color: var(--text-color);
    box-shadow: 5px 10px 30px rgb(85 85 85 /20%);
    border-radius: 4px;    
}

#menu-icon {
    color: var(--bg-color);
    font-size: 35px;
    z-index: 1001;
    cursor: pointer;
    display: none;
}