body {
    background: var(--bg-color);
    color: var(--text-color);
    height: 100vh;
    background-image: url(images/city2.jpg);
}

:root{
    --bg-color: #FFF;
    --text-color: #221314;
    --second-color: #6e54fa;
    --big-font: 3rem;
    --h2-font:  2.5rem;
    --p-font: 1.1rem;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 2000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 30px 16%;
    transition: ease .40s;
}

header.sticky {

    background: var(--bg-color);
    padding: 10px 14%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sticky nav ul li a, .sticky .logo, .sticky #user-icon {

    color: var(--text-color);
}

.logo{

    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;
    color:  var(--bg-color);
}

nav ul {

    display: flex;
    align-items: center;
}

nav ul li a{
    color: var(--bg-color);
    font-size: var(--p-font);
    font-weight: 500;
    padding: 10px 22px;
    border-radius: 4px;
    transition: ease .40s;
    margin-left: 2px;
}

.menu_hover:hover{

     background: var(--bg-color);
     color: var(--text-color);
     box-shadow: 5px 10px 30px rgb(85 85 85 /20%);
     border-radius: 4px;
}

#user-icon{

    color: var(--bg-color);
    font-size: 35px;
    z-index: 1001;
    cursor: pointer;
    padding: 5px;
    transition: ease .40s;
}
#user-icon:hover {

    background: var(--bg-color);
    color: var(--text-color);
    box-shadow: 5px 10px 30px rgb(85 85 85 /20%);
    border-radius: 4px;    
}

#menu-icon {
    color: var(--bg-color);
    font-size: 35px;
    z-index: 1001;
    cursor: pointer;
    display: none;
}

section {

    padding: 60px 5%;
}

.monCompte {
    position: relative;
    width: 100%;
    background-position: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    
    width: 65%;
    height: 600px;
    
    display: flex;
}

.left {
    left: 0;
    width: 30%;
    border-radius: 34px;
    background: linear-gradient(#86b7f7, #636eee);;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.right {
    right: 0;
    width: 70%;
    background-color: #FFF;
    border-radius: 34px;;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.infos {
    text-align: center;
    font-size: var(--p-font);
    padding: 10px;
}

.img-profile {
    width : 100px;
    height: 100px;
    margin-bottom: 20px;
}

#etoiles {
    width: 180px;
    margin-bottom: 20px;
}

.ligne {
    height : 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    visibility: hidden;
}

#ligne-spe {
    margin-bottom: 60px;
}

button{
    background-color: transparent ;
    color: #00203f;
    border: none;
    font-size: 16px;
    padding : 5px 10px 5px 10px;
    border-radius: 50px;
    box-shadow: #505254 3px 3px 5px;
}

button:hover {
    cursor: pointer;
    box-shadow: rgb(59, 60, 61) 3px 3px 6px 0px inset
}

.historique-container {
    display: flex;
    width: 85%;
    margin-top: 20px;
    background-color: #FFF;
    flex-direction: column;
    align-items: center;
}

#histo {
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: -20px;
}

.ligne-resa {
    margin-top: 20px;
    width: 80%;

}

.row {
    display: flex;
    width: 95%;
    background-color: fff;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
}

i {
    margin-right: 5px;
}

.vp{
    margin-top: 15px;
    text-decoration: underline;
    cursor: pointer;
}

.reclamation{
    margin-top: 13%;
    bottom: 20;
    overflow: visible;
}

.contact{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.reclam {
    margin-top: 15px;
}

.recap{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 30px;
}

.boites {
    width: 22%;
    height: 100px;
    border-radius: 25px;
    background: linear-gradient(#86b7f7, #7e86e6);
    text-align: center;
    margin: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
              -2px -2px 5px rgba(255, 255, 255, 0.3);
    padding: 2px;
}

#mid {
    margin-left: 10px;
    margin-right: 10px;
}

#mid2 {
    margin-right: 10px;
}

.logo2{
    margin-top: 7px;
    font-family: 'Orbitron', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #FFF;
}

#chiffre{
    font-size: 25px;
}

.valide {
    width: 50px;
    height: 50px;
}

.div_img{
    width: 15%;
}

.adresse{
    width: 78%;
}

.prixFin {
    width: 12%;
    margin-left: 10px;
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    color: #60BDFF;
}

.dep {
    display: flex;
}

.separation {
    width: 100%;
    border: #86b7f7 1px solid;
    margin-bottom: 10px;
}

#attente{
    color: #BC9516;
}