*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    background-image: url(image/city2.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

:root{
    --bg-color: #FFF;
    --text-color: #221314;
    --second-color: #6e54fa;
    --big-font: 6rem;
    --h2-font:  3rem;
    --p-font: 1.1rem;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 30px 16%;
    transition: ease .40s;
}

.logo{

    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;
    color:  var(--bg-color);
}

nav ul {

    display: flex;
    align-items: center;
}
nav ul li a{
    color: var(--bg-color);
    font-size: var(--p-font);
    font-weight: 500;
    padding: 10px 22px;
    border-radius: 4px;
    transition: ease .40s;
    margin-left: 2px;
}

.menu_hover:hover{

     background: var(--bg-color);
     color: var(--text-color);
     box-shadow: 5px 10px 30px rgb(85 85 85 /20%);
     border-radius: 4px;
}

#user-icon{

    color: var(--bg-color);
    font-size: 35px;
    z-index: 1001;
    cursor: pointer;
    padding: 5px;
    transition: ease .40s;
}
#user-icon:hover {

    background: var(--bg-color);
    color: var(--text-color);
    box-shadow: 5px 10px 30px rgb(85 85 85 /20%);
    border-radius: 4px;    
}

#menu-icon {
    color: var(--bg-color);
    font-size: 35px;
    z-index: 1001;
    cursor: pointer;
    display: none;
}

.test{
    width: 60%;
    height: 40%;
    background-color: #6e54fa;
}

.container{
    position: relative;
    overflow: hidden;
    background-color: #FFF;
    width: 60%;
    height: 60%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: ease .40s;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;   
    transition: 0.6s ease-in-out;
}

.sign-up-container{
    right: 0;
    width: 50%;
}

.log-in-container{
    left: 0;
    width: 50%;
}

.nom-prenom{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

input.np{
    width: 47%;
}

#inscription{
    margin-bottom: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: #00203f;
    margin-bottom: 70x;
}

form{
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input{
    background-color: #b2add1 ;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    color: #00203f;
    border-radius: 3px;
    box-shadow: #545050 3px 3px 5px;
}

button{
    background-color: #b2add1 ;
    color: #00203f;
    border: none;
    font-size: 16px;
    padding: 16px 32px;
    margin-top: 24px;
    letter-spacing: 1px;
    border-radius: 50px;
    box-shadow: #545050 3px 3px 5px;
    font-weight: bold;
}

button:hover{
    cursor: pointer;
    border: #00203f 1px solid;
    transition: 0.3s ease-in;
}

.social-container{
    margin-bottom: 25px;
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bx{
    font-size: 25px;
    color: #00203f;
    padding : 3px;  
}

.bx:hover{
    font-size: 25px;
    color: #adf0d1;
}

#icons{
    padding : 3px 4px 3px 4px;
    border-radius: 50%;
    background-color: #b2add1;
    box-shadow: #545050 3px 3px 5px;
    display: flex;
    margin-top: -15px;
    padding: 10px;
}

#icons:hover{
    background-color: #D17185;
    transition: 200ms ease-in;
}

.overlay-panel{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    background: linear-gradient(#e66465, #9198e5);
    overflow: hidden;

}

.overlay-right{
    right:0;
}

p{
    font-size: 16px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
    margin-bottom: 100px;
}

button.ghost{
    background-color: transparent;
}

button:active{
    transform: scale(0.95);
}

h1.accroche{
    font-size: 50px;
    font-weight:var(900);
}
