* {
    margin: 0px;
    padding: 0px;
}

.container {
    background-color: yellow;
    border-radius: 8px;
}

.image{

}

.cadre {
    width: 65%;
    background-color: yellowgreen;
    display: flex;
    margin: auto;
    border-radius: 8px;
    
}

img {
    width: 20%;
}
